<div class="container-fluid">                
    <h3 class="text-center">Registro de Noticias</h3>    
    <div class="offset-lg-2 offset-md-2 col-md-8 col-lg-8 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                Redacción de Noticia
            </div>
            <div class="card-body formulario">
                <form name="formulario-registro" method="post">
                    <div class="form-group">
                        <label for="txtNombre">Título</label>
                        <input type="text" class="form-control" id="txtNombre">                        
                    </div>
                    <div class="form-group">
                    <label for="txtDescrip">Descripción</label>
                    <textarea rows="4" class="form-control" id="txtDescrip"></textarea>                    
                    </div>

                    <div class="row">
                        <div class="boton"><input class="degradado" type="submit" value="Registrar"></div>
                        <div class="boton"><input class="degradado" type="reset" value="Cancelar"></div>
                    </div>
                </form>
            </div><!--fin card body-->
        </div><!--fin tarjeta-->
    </div>
</div>
