.noticia{
    background: rgba(0,0,0,0.2);
    padding: 10px;
}

.degradado{    
    border: 1px solid;
    height: 33px;
    border-radius: 2px;
    width: 60%;
    cursor: pointer;
}

.boton{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
}