<div id="Portada Principal">
    <div id=Tituloprincipal>
        Kenkōfuku
    </div>
    <div id=Subtitulo>
        Salud & Alegría
    </div>
    <div id="Slider">
        <input type="radio" id="1" name="imgslider" hidden />
        <input type="radio" id="2" name="imgslider" hidden />
        <input type="radio" id="3" name="imgslider" hidden />
        <input type="radio" id="4" name="imgslider" hidden />
        <input type="radio" id="5" name="imgslider" hidden />
        <div id="principal">
            <div id="imgprincipal">
                <img src="../../../assets/Images/img7.jpg">
            </div>
            <div id="imgprincipal">
                <img src="../../../assets/Images/img8.jpg">
            </div>
            <div id="imgprincipal">
                <img src="../../../assets/Images/img9.jpg">
            </div>
            <div id="imgprincipal">
                <img src="../../../assets/Images/img10.jpg">
            </div>
            <div id="imgprincipal">
                <img src="../../../assets/Images/img11.jpg">
            </div>
        </div>
        <div id="secundario">
            <label id="imgsecundario" for="1">
                <img src="../../../assets/Images/img7.jpg">
            </label>
            <label id="imgsecundario" for="2">
                <img src="../../../assets/Images/img8.jpg">
            </label>
            <label id="imgsecundario" for="3">
                <img src="../../../assets/Images/img9.jpg">
            </label>
            <label id="imgsecundario" for="4">
                <img src="../../../assets/Images/img10.jpg">
            </label>
            <label id="imgsecundario" for="5">
                <img src="../../../assets/Images/img11.jpg">
            </label>
        </div>
    </div>
</div>
<section id="section1" *ngIf="mostrarBienvenida">
    <div id="Titulo1">
        Bienvenido a Kenkōfuku
    </div>
    <div id="img1">
        <img id="plt1" src="../../../assets/Images/img1.jpg" alt="">
    </div>
    <div id="txt1">
        <p><i> Nuestra obra social le corresponde por rama de actividad a los trabajadores Nodocentes de todas las
                Universidades Nacionales.</i></p>
        <p> También desde hace 25 años brindamos cobertura a otros beneficiarios de la seguridad social y de regímenes
            especiales en todo el territorio nacional: autónomos, monotributistas, personal del servicio doméstico y
            cualquier otro trabajador en relación de dependencia que desee tener nuestros planes de salud.
            Actualmente contamos con más de 90.000 beneficiarios distribuidos en 17 provincias de la República
            Argentina.
            Tenemos características únicas que nos diferencian de otras obras sociales, que nos permiten operar con gran
            solvencia cumpliendo fielmente todas nuestras obligaciones según lo estipulados por las reglamentaciones
            vigentes.</p>
    </div>
</section>
<aside>
    <div id="Titulo4">
        Más Información
    </div>
    <ul id="ul2">
        <li><a (click)="verNoticias()">Noticias</a></li>
        <div id="txt2">
            Leé las últimas buenas nuevas de Kenkōfuku.
        </div>
        <li><a (click)="bienvenida()">Bienvenida</a></li>
        <div id="txt2">
            ¡Kenkōfuku te da la bienvenida a una excelente obra social!
        </div>
        <li><a (click)="planes()">Planes y Servicios</a></li>
        <div id="txt2">
            Acerca de nuestros planes, lista de servicios e informacion ampliada de los mismos para nuestros clientes.
        </div>
    </ul>
    <div id=Titulo5>
        Links de Interes
    </div>
    <ul id="ul3">
        <li><a href="#">Discapacidad</a></li>
        <li><a href="#">Prestadores</a></li>
        <li><a href="#">fiscalización</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Solicitar Baja</a></li>
        <li><a href="#">Ordenes Online</a></li>
    </ul>
</aside>
<section id="section2" *ngIf="mostrarNoticias">
    <div id="Titulo2" style="text-align: center;">
        Portal de Noticias Kenkōfuku
    </div>
    <div class="row form-group col-sm-12">
        <div class="card col-sm-12 col-md-6" *ngFor="let item of noticias">
            <div class="card-body">
                <h5 class="card-title">{{item.titulo}}</h5>
                <h6 class="card-subtitle mb-2"><b>Autor: {{item.usuario.usuarioEmail}} <p></p> Fecha: {{item.fecha | date:'shortDate'}}</b></h6>
                <p class="card-text">{{item.descripcion}}</p>
            </div>
        </div>
    </div>
</section>

<section id="section2" *ngIf="mostrarPlanes">
    <div id="Titulo2">
        Nuestros Planes
    </div>
    <div id="txt3">
        Los planes Integral, Premium y Nodocente UN ofrecidos por <b>Kenkōfuku</b>, superan ampliamente lo establecido
        por el PMO, brindando servicios adicionales que los hacen únicos. Estos planes están al alcance de las
        posibilidades de cada uno de los trabajadores en relación de dependencia, monotributistas o adherentes
        (voluntarios), que deseen acceden a esta amplia cobertura.
    </div>
    <div id="parcuadrante">
        <div id="cuadrante1">
            <div>
                <div id="Titulo3">
                    Plan Basico
                </div>
                <div>
                    <img id=img2 src="../../../assets/Images/img2.jpg" alt="">
                </div>
                <div id=txt4>
                    Está pensado para personas que necesitan cobertura completa a un bajo costo y con una amplia red de
                    prestadores. Accedes al 100% de cobertura en internación y cirugías quirúrgicas. Este plan está a tu
                    alcance, podrás obtener prestaciones de primer nivel con copagos muy accesibles. Garantiza toda la
                    cobertura del Programa Médico Obligatorio (PMO).
                </div>
                <a href="#"><input type="button" value="Detalles"></a>
            </div>
        </div>
        <div id="cuadrante2">
            <div>
                <div id="Titulo3">
                    Plan Integral
                </div>
                <div>
                    <img id=img2 src="../../../assets/Images/img3.jpg" alt="">
                </div>
                <div id=txt4>
                    Está diseñado para personas que deseen acceder a un plan completo, con prestaciones superadoras con
                    servicios adicionales al Programa Médico Obligatorio (PMO) sin pago de copagos. Brinda descuentos en
                    medicamentos ambulatorios del 50% al 100%. Además, brinda prestaciones ambulatorias e internación,
                    mediana y alta complejidad, sin límites de estadía y sin copagos, dentro del marco del PMO.
                </div>
                <a href="#"><input type="button" value="Detalles"></a>
            </div>
        </div>
    </div>
    <div id="parcuadrante">
        <div id="cuadrante3">
            <div>
                <div id="Titulo3">
                    Plan Premium
                </div>
                <div>
                    <img id=img2 src="../../../assets/Images/img4.jpg" alt="">
                </div>
                <div id=txt4>
                    Está creado para personas más exigentes que buscan una cobertura de calidad con prestaciones
                    superadoras. Brinda internación en habitación privada, cobertura local, nacional y en el extranjero
                    con servicio de asistencia al viajero. Descuentos en medicamentos ambulatorios del 70% al 100%.
                    Además, brinda servicio de emergencias, urgencias, traslado y atención domiciliaria sin copago.
                    Cobertura en prestaciones ambulatorias e internación, sin límites de estadía y sin pago copago,
                    dentro del marco del PMO.
                </div>
                <a href="#"><input type="button" value="Detalles"></a>
            </div>
        </div>
        <div id="cuadrante4">
            <div>
                <div id="Titulo3">
                    Plan No Docente
                </div>
                <div>
                    <img id=img2 src="../../../assets/Images/img5.jpg" alt="">
                </div>
                <div id=txt4>
                    Es el plan más amplio de <b>Kenkōfuku</b> y es exclusivo para los trabajadores de las universidades
                    nacionales. Los Nodocentes pueden acceder a la máxima calidad de cobertura de forma integral: sin
                    carencias, sin coseguros, sin pago adicional (sólo con el 3% del aporte de ley) y sin exclusiones
                    por preexistencias. Descuentos en medicamentos ambulatorios del 70% al 100%. Brinda cobertura en
                    prestaciones ambulatorias e internación, sin límites de estadía dentro del marco del PMO. Además,
                    otorga cobertura local, nacional y en el extranjero con servicio de asistencia al viajero.
                </div>
                <a href="#"><input type="button" value="Detalles"></a>
            </div>
        </div>
    </div>
</section>