<div id="Portada Principal">
    <div id=Tituloprincipal>
        Kenkōfuku
    </div>
    <div id=Subtitulo>
        Salud & Alegría 
    </div>
    <div id="Slider">
        <input type="radio" id="1" name="imgslider" hidden/>
        <input type="radio" id="2" name="imgslider" hidden/>
        <input type="radio" id="3" name="imgslider" hidden/>
        <input type="radio" id="4" name="imgslider" hidden/>
        <input type="radio" id="5" name="imgslider" hidden/>
        <div id="principal">
            <div id="imgprincipal">
                <img src="../../../assets/Images/img7.jpg">
            </div>
            <div id="imgprincipal">
                <img src="../../../assets/Images/img8.jpg">
            </div>
            <div id="imgprincipal">
                <img src="../../../assets/Images/img9.jpg">
            </div>
            <div id="imgprincipal">
                <img src="../../../assets/Images/img10.jpg">
            </div>
            <div id="imgprincipal">
                <img src="../../../assets/Images/img11.jpg">
            </div>
        </div>
        <div id="secundario">
            <label id="imgsecundario" for="1">
                <img src="../../../assets/Images/img7.jpg">
            </label>
            <label id="imgsecundario" for="2">
                <img src="../../../assets/Images/img8.jpg">
            </label>
            <label id="imgsecundario" for="3">
                <img src="../../../assets/Images/img9.jpg">
            </label>
            <label id="imgsecundario" for="4">
                <img src="../../../assets/Images/img10.jpg">
            </label>
            <label id="imgsecundario" for="5">
                <img src="../../../assets/Images/img11.jpg">
            </label>
        </div>
    </div>
</div>
<section id="section1">
    <div id="Slider2">
        <input type="radio" id="1" name="imgslider" hidden/>
        <input type="radio" id="2" name="imgslider" hidden/>
        <input type="radio" id="3" name="imgslider" hidden/>
        <input type="radio" id="4" name="imgslider" hidden/>
        <input type="radio" id="5" name="imgslider" hidden/>
        <div id="principal2">
            <div id="imgprincipal" class="text-center">
                <a class=" strong"><b>FUERTEMENTE COMPROMETIDOS</b></a><i></i>
Nos encontramos fuertemente comprometidos con las políticas sanitarias mediante CAMPAÑAS DE PREVENCIÓN DE RIESGOS a nivel nacional.  
            </div>
            <div id="imgprincipal" class="text-center">
                <a class=" strong"><b>MEJORA CONTINUA</b></a><i></i>
Tal como establece la ley 23.660 en su art. 5, destinamos el 80% de los ingresos a prestaciones médicas asistenciales, procurando una mejora continua de nuestros servicios, a través de una amplia cartilla de prestadores.
            </div>
            <div id="imgprincipal" class="text-center">
                <a class=" strong"><b>RESPONSABILIDAD EN LA GESTIÓN</b></a><i></i>
Realizamos un estricto control de nuestros ingresos, a través de una exhaustiva fiscalización y responsabilidad en la gestión administrativa.  
            </div>
            <div id="imgprincipal" class="text-center">
                <a class=" strong"><b>EN CONTACTO PERMANENTE</b></a><i></i>
Estamos en contacto permanente con los beneficiarios para disipar dudas o consultas a través de nuestras delegaciones, centro de atención telefónica y plataformas digitales.  
            </div>
            <div id="imgprincipal" class="text-center">
                <a class=" strong"><b>COBERTURA DE EXCELENCIA</b></a> <i></i>
Contamos con diferentes planes de salud con cobertura de excelencia, todos contienen una amplia cobertura prestacional con profesionales capacitados y de reconocido prestigio. 
            </div>
        </div>
    </div>
    <div>
        <div class="col-12">
            <div id="info1" class="text-center col-6">
                <a class=" strong"><b>MISIÓN</b></a>
Somos la Obra Social de los Trabajadores Nodocentes de las Universidades Nacionales. Brindamos servicios integrales de salud, con un equipo humano comprometido, calificado y con actitud de servicio, contribuyendo al mejoramiento de la salud.
            </div>
            <div id="info2" class="text-center col-6">   
                <a class=" strong"><b>VISIÓN</b></a> <i></i>
Ampliar nuestro marco de acción a fin de lograr la cobertura de salud de la totalidad de los compañeros Nodocentes a nivel nacional.
            </div>
        </div>
        <div id="info3" class="text-center">
            <a class=" strong"><b>VALORES</b></a> <i></i>
Nuestra obra social promueve la accesibilidad a la asistencia médica sobre la base de los principios de universalidad, equidad y solidaridad, favoreciendo la calidad y la mejora de los servicios. Nos encontramos fuertemente comprometidos con las políticas sanitarias mediante la ejecución de campañas de prevención de riesgos a nivel nacional, destinadas a la totalidad de la comunidad universitaria y a la población en general.
        </div>
    </div>
</section>
<aside>
    <div id="Titulo4">
        Mas Información
    </div>
    <ul id="ul2">
        <li><a href="#">Sobre nosotros</a></li>
      <div id="txt2">
          Conoce nuestros mision, vision, valores y logros que hemos alcanzado en estos años sirviendo a la comunidad.
      </div>
        <li><a href="#">Contactenos</a></li>
      <div id="txt2">
          Aquí irían los contactos redes sociales, etc.
      </div>
        <li><a href="#">Delegaciones</a></li>
        <div id="txt2">
            Con numerosas delegaciones a lo largo de todo el país, <b>Kenkōfuku</b> ofrece atención personalizada a través de su personal altamente capacitado, quienes les brindarán a los beneficiarios la información que requieran para el cuidado de su salud.
        </div>
        <li><a href="#">Beneficiarios</a></li>
        <div id="txt2">
            <b>Kenkōfuku</b> recibe a toda persona que se encuentra comprendida en el Sistema Nacional del Seguro de Salud brindando un servicio médico integral acorde a su situación.
        </div>
    </ul>
    <div id=Titulo5>
        Links de Interes
    </div>
    <ul id="ul3">
        <li><a href="#">Discapacidad</a></li>
        <li><a href="#">Prestadores</a></li>
        <li><a href="#">fiscalización</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Solicitar Baja</a></li>
        <li><a href="#">Ordenes Online</a></li>
    </ul>
  </aside>