<div id="Portada Principal">
    <div id=Tituloprincipal>
        Kenkōfuku
    </div>
    <div id=Subtitulo>
        Salud & Alegría 
    </div>
    <div id="Slider">
        <input type="radio" id="1" name="imgslider" hidden/>
        <input type="radio" id="2" name="imgslider" hidden/>
        <input type="radio" id="3" name="imgslider" hidden/>
        <input type="radio" id="4" name="imgslider" hidden/>
        <input type="radio" id="5" name="imgslider" hidden/>
        <div id="principal">
            <div id="imgprincipal">
                <img src="../../../assets/Images/img7.jpg">
            </div>
            <div id="imgprincipal">
                <img src="../../../assets/Images/img8.jpg">
            </div>
            <div id="imgprincipal">
                <img src="../../../assets/Images/img9.jpg">
            </div>
            <div id="imgprincipal">
                <img src="../../../assets/Images/img10.jpg">
            </div>
            <div id="imgprincipal">
                <img src="../../../assets/Images/img11.jpg">
            </div>
        </div>
        <div id="secundario">
            <label id="imgsecundario" for="1">
                <img src="../../../assets/Images/img7.jpg">
            </label>
            <label id="imgsecundario" for="2">
                <img src="../../../assets/Images/img8.jpg">
            </label>
            <label id="imgsecundario" for="3">
                <img src="../../../assets/Images/img9.jpg">
            </label>
            <label id="imgsecundario" for="4">
                <img src="../../../assets/Images/img10.jpg">
            </label>
            <label id="imgsecundario" for="5">
                <img src="../../../assets/Images/img11.jpg">
            </label>
        </div>
    </div>
</div>